.portfolio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
   margin-bottom: 30px; /* spacing below each card */
  padding: 10px;        /* internal spacing */
}


.hover-bg:hover {
  transform: scale(1.03);
}

.hover-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px 0;
  text-align: center;
}


